<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
	<connectionStrings>
		<add name="SomerenDatabase" connectionString="Data Source=den1.mssql7.gear.host;
         Initial Catalog=prjdb28; User=prjdb28; Password=Uw8oS4K~?z57"/>
	</connectionStrings>
</configuration>
